html,
body {
  height: 100%;
}

body {
  background: linear-gradient(
    0deg,
    rgba(130, 116, 192, 1) 0%,
    rgba(59, 103, 198, 1) 40%,
    rgba(6, 15, 94, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

small {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.github-link {
  text-decoration: none;
}
.search-form {
  text-align: left;
}

.section-one {
  text-align: right;
  margin-right: 80px;
}
.next-day {
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
}
.degrees {
  font-size: 20px;
  text-decoration: none;
}

.weather-list {
  list-style: none;
}

.content {
  max-width: 1000px;
  margin: 60px auto;
  padding: 40px 40px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.7;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.section-two i,
.section-two h2,
.section-two p {
  display: inline-block;
}
#weather-icon {
  transform: scale(1.5);
  margin-right: 30px;
}
#tepm-display {
  font-size: 70px;
  margin: 20px 10px;
}
#weather-details {
  text-transform: capitalize;
}
#search-engine {
  border-radius: 8px;
  border-style: none;
}
#displayed-city {
  font-size: 60px;
}
#current-time {
  font-size: 25px;
}
#current-location-button,
#search-button {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#current-location-button:hover,
#search-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

#main-display {
  display: none;
}

h2 sup {
  vertical-align: super;
}
